$font__title:'Playfair Display', serif;;
$font__roboto:'Roboto', sans-serif;
$font__main: 'Work Sans', sans-serif;

$font_color--white: #ffffff;
$font_color--black: #171717;
$font_color--gray:#5f5f5f;
// $font_color--gray:#1d1d1d;
$bg_color--dark: #313131;
$bg_color--white: #f6f6f6;
$bg_color--black:#0c0c0c;

